body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: white;
    color: #333;
    text-align: center;
    }

    /* Encabezado */
header {
    background-color: #1e88e5;
    color: white;
    padding: 30px 10px;
    border-bottom: 5px solid #1565c0;
    }

h1 {
    margin: 0;
    font-size: 2em;
    }

section {
    background: white;
    width: 80%;
    margin: 40px auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

h2 {
    color: #1e88e5;
    }

    /* Plano cartesiano */
.plano {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px auto;
    border: 2px solid #1e88e5;
    }

.punto {
    position: absolute;
    top: 140px;
    left: 140px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    }

.recta-horizontal {
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #1565c0;
    }

.recta-vertical {
    position: absolute;
    left: 150px;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: #1565c0;
    }

/* Cuadrícula */
.grid-ejemplo {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    gap: 20px;
    justify-content: center;
    margin: 25px 0;
    }

.caja {
    background-color: #64b5f6;
    color: white;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    border-radius: 10px;
    }

/* Proporciones */
.proporciones {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    margin-top: 25px;
    }

.rect-peq, .rect-med, .rect-grande {
    background-color: #90caf9;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-weight: bold;
    }

.rect-peq { width: 100px; height: 100px; }
.rect-med { width: 100px; height: 200px; }
.rect-grande { width: 150px; height: 225px; }

.nota {
    font-size: 0.9em;
    color: #333;
    margin-top: 10px;
    font-style:'Poppins', sans-serif;
    }

    /* Pie de página */
footer {
    background-color: #1565c0;
    color: white;
    padding: 15px 0;
    margin-top: 30px;
    }
